# native cache (emacs 28):
/.emacs.d/eln-cache/

# packages:

/.emacs.d/dash-el
/.emacs.d/elm-mode
/.emacs.d/f-el
/.emacs.d/flycheck
/.emacs.d/intero
/.emacs.d/s-el
/.emacs.d/flycheck-elm
/.emacs.d/julia-emacs/

# these I didn't originally symlink (but it's easier to handle the
# same way in the makefile); dunno?
/.emacs.d/company
/.emacs.d/haskell-mode
