[submodule ".emacs.d/elixir-mode"]
	path = .emacs.d/elixir-mode
	url = https://github.com/elixir-editors/emacs-elixir
[submodule ".emacs.d/eglot"]
	path = .emacs.d/eglot
	url = https://github.com/joaotavora/eglot/
[submodule ".emacs.d/emacs27"]
	path = .emacs.d/emacs27
	url = https://git.savannah.gnu.org/git/emacs.git
[submodule ".emacs.d/keycast"]
	path = .emacs.d/keycast
	url = https://github.com/tarsius/keycast
